* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.logo {
    width: 210px;   
    height: auto;
}
nav img {
    margin-bottom: 5px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
nav ul li {
    display: inline;
}
nav ul li a{
    text-decoration: none;
    margin-left: 20px;
    color: #025027;
    font-weight: bold;
    font-size: 22px;
}
nav ul li a:hover {
    color: #ccc900;
}
.orange_color{
    color: orange;
    font-size: 13px;
    margin-bottom: -10px;
}
.orange_color:hover{
    transform: scale(0.5);
}
body {
    margin: 0;
    padding: 0;
}

#notif{
    position: fixed;
    top: 80px;
    right: -150px;
    /* background-color: #afe9d7; */
    color: #1E2B27;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    /* display: none; */
    transition: all 1.5s ease;
    z-index: 1000; 
}