* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
 --darkgreen: #1E2B27;
 --orange: #E57400;
 --purple:#6952A2;
}
nav {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding: 10px 30px;
    z-index: 1111;
}
.sec_title {
    font-size: 28px;
    color: #025027;
    text-align: center;
    margin-top: 20px;
}
/* product section and cards */
.sections {
    margin: 5% 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);

    #products_container{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     justify-items: center;
   
    .products{
        display: inline-flex;
        background-color: #D0E3D5;
        margin: 20px;
        padding: 15px;
        border-radius: 15px;
        }
        img{
            margin: -5px -5px 5px -5px ;
            border-radius: 15px;
        }
        .products:hover {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            transition: all 1.3s ease;
            transform: rotateY(180deg);
            .p_details{
                visibility: hidden;
                transition: all 0.4s ease;
            }
        }
        #counter_btn{
            display: flex;
            width: 85px;
            justify-content: center;
            align-items: center;
            gap: 15px; 
            background-color: transparent;
            border-radius: 30px;
            border: 1px solid var(--darkgreen);
            padding: 2px;
            color: white;
            box-shadow: 0px 0px 2px orange;
            margin: -35px 0 10px 100px;
            .counter_btns{
                background-color: transparent;
                border: none;
                color: var(--darkgreen);
                font-weight: bolder;
                font-size: 18px;
                cursor: pointer;
            }
        }
        .card_btn{
           width: 45%;
           padding: 2px;
           background-color: transparent;
           border-radius: 15px;
           border: none;
          cursor: pointer;

        }
        .card_btn:hover{
            scale: 1.02;
            transition: all 0.3s ease;
        }
        #buy_btn{
            background-color: var(--orange);
            color: #ffffff;
            font-weight: bold;
        }
        #basket{
            background-color: var(--purple);
            color: #ffffff;
            font-weight: bold;
        }
         }

}
#navbtn{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}
.logo {
    width: 210px;   
    height: auto;
}
nav img {
    margin-bottom: 5px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
nav ul li {
    display: inline;
}
nav ul li a{
    text-decoration: none;
    margin-left: 20px;
    color: #025027;
    font-weight: bold;
    font-size: 22px;
}
nav ul li a:hover {
    color: #ccc900;
}
.orange_color{
    color: orange;
    font-size: 13px;
    margin-bottom: -10px;
}
.orange_color:hover{
    transform: scale(0.5);
}
body {
    margin: 0;
    padding: 0;
}

#notif{
    position: fixed;
    top: 80px;
    right: -150px;
    /* background-color: #afe9d7; */
    color: #1E2B27;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    /* display: none; */
    transition: all 1.5s ease;
    z-index: 1000; 
}
 