* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ad{
    display: inline-block;
    background-color: rgb(108, 214, 174);
    min-width: 750px;
    min-height: 350px;
    margin-left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    margin-top: 50px;
    overflow: hidden;
}
#ad_banner{
    /* background-color: rgb(182, 194, 189); */
    position: relative;
    /* left: 100%; */
    width: 750px;
    height: 350px;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    transition: all 1.5s ease;
}
#left_btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
#right_btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    left: 95%;
}