* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.logo {
    width: 210px;   
    height: auto;
}
nav img {
    margin-bottom: 5px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
nav ul li {
    display: inline;
}
nav ul li a{
    text-decoration: none;
    margin-left: 20px;
    color: #025027;
    font-weight: bold;
    font-size: 22px;
}
nav ul li a:hover {
    color: #ccc900;
}
body {
    margin: 0;
    padding: 0;
}
#con{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ccc900; */
    height: calc(100vh - 79px);
    width: 100vw;
}
#reg_log{
    display: flex;
    background-color: #D0E3D5;
    border-radius: 15px;
}
#signup{
    padding: 70px 100px;
}
#login{
    padding: 70px 100px;
    margin-top: 15%;
}
/* #reg_log::before{
    position: absolute;
    content: '';
    width: 360px;
    height: 511px;
    background-color: black;
    border-radius: 15px 60px 15px 15px;
} */
#signupbtn{
background-color: #1E2B27;
border: none;
color: #D0E3D5;
font-size: 16px;
font-weight: bold;
cursor:pointer;
}
#slider{
    position: absolute;
    padding: 65.5px 50px;
    text-align: center;
    background-color: #1E2B27;
    color: #ffffff; 
    transition: all  1.5s ease;
    border-radius: 10px 100px 0px 10px;
    /* transform: translateX(100px); */
}
.btn1{
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: -4px;
    
}