* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
 --darkgreen: #1E2B27;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 1;
    padding: 0;
}
#ad{
    display: flex;
    background-color: rgba(203, 209, 207, 0.096);
    box-shadow:  0 1px 8px rgba(0, 0, 0, 0.925);
    width: 750px;
    height: 350px;
    margin-left: 50%;
    border-radius: 20px 20px;
    transform: translateX(-50%);
    margin-top: 50px;
    overflow: hidden;
    perspective: 1000px;
}
#ad_banner{
    /* background-color: rgb(182, 194, 189); */
    position: relative;
    /* left: 100%; */
    display: flex;
    width: 750px;
    height: 350px;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    transition: all 1.5s ease;
}
#left_btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 11;
}
#right_btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    left: 95%;
    z-index: 11;
}

