#details_container{
    display: flex;
    justify-content: center;
    margin: 5% 10%;
    img{
        width: 500px;
        height: auto;
        border-radius: 15px;
    }
    .details{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin-left:30px;
        
           #counter_btn{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px; 
            background-color: transparent;
            border-radius: 30px;
            border: 2px solid var(--darkgreen);
            padding: 2px;
            color: white;
            width: 80px;
            color: var(--darkgreen);
            }
            .counter_btns{
                background-color: transparent;
                color: var(--darkgreen);
                border: none;
                font-weight: bolder;
                font-size: 18px;
                cursor: pointer;
            }
        .btndiv{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 2%;
            }
         .card_btn{
            width: 50%;
            position: relative;
            border: 1px solid var(--darkgreen);
            padding: 3px;
            border-radius: 15px;
            font-size: 15px;
            cursor: pointer;
            font-weight: bold;
            color: var(--darkgreen);
        }
        
        .card_btn::before{
            content: "";            
            position: absolute;
            left: 0;
            top: 0;
            width: 0%;
            height: 100%;
            background-color: var(--darkgreen);
            border-radius: 15px;
            transition: all .3s ease;
            z-index: -1;
        }
        .card_btn:hover::before{
            width: 100%;
        }
         .card_btn:hover{
          z-index: 1111;
          transition: all .3s ease;
          color: #ffffff;
        }

    }
}
