:root{
 --darkgreen: #1E2B27;
 --orange: #E57400;
 --purple:#6952A2;
 --lightgreen:#D0E3D5;
}
.bar{
    display:  flex;
    gap: 80px;
    justify-content: center;
    color:var(--darkgreen);
    border-radius: 15px;
    font-size: larger;
}
.p1,.p2,.p3{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.651);
}
.cards{
display: flex;
}
.card1 ,.card2{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 620px;
}
.card3{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 620px;
}
.uline{
    border-top: 2px solid var(--darkgreen);
    width: 100%;
    margin: auto;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    input{
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
    select{
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
    .paybtn{
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: var(--darkgreen);
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
    }
}